<div class="footer">
    <div class="footer-brand brand-item">
        <img src="assets/imgs/Logos/Logo_Small_footer.svg">
    </div>
    <div class="brand-item">
        <a href="https://www.facebook.com/bostonhacks/"><img src="assets/imgs/Logos/fb.svg"></a>
    </div>
    <div class="brand-item">
        <a href="https://twitter.com/boston_hacks"><img src="assets/imgs/Logos/twitter.svg"></a>
    </div>
    <div class="brand-item">
        <a href="#top" style="color:white;vertical-align: sub">BACK TO TOP</a>
    </div>
</div>

<script src="{{ "/assets/js/jquery-3.3.1.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | relative_url }}"></script>