body {
  margin-bottom: 0;
  /* Margin bottom by footer height */
}

#landing-page {
  background-image: url('/assets/imgs/background_img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #878787;
}

.footer {
  bottom: 0;
  display: flex;
  height: 8vh;
  width: 100%;
  padding: 1.5vh 5vh;
  background-color: #2a2563;
}

.footer-brand {
  height: 5vh;
  width: 130px;
  line-height: inherit;
}

.brand-item {
  margin-right: 3vh;
}

