---
layout: default
---
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/assets/css/timeline.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
    integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
  <link href="http://www.w3schools.com/lib/w3.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style=" background-color: #e2e0e5;">
  <div class="heading" style=" margin-left: 10px; height: 250px;">
    <h1 style="margin-left: 100px; color: black; margin-top: 100px; ">BostonHacks History</h1>
    <p style="width: 70%; margin-left: 100px; max-width: 500px; margin-top: 30px; font-weight: 50"> The mission of
     BostonHacks is to help grow the community of students exploring the applications of computer science outside of
      the classroom through events and workshops. In addition to fostering connections and enhancing your network, we will also teach you new skills and ways to approach problems differently.</p>
  </div>
  <div class="timeline">
    <div class="timeline-container right">
      <h3 class="year">Fall 2018</h3>
      <div class="content">
        <h2 style="text-align:center;">BostonHacks Four</h2>
        <p style="text-align:center; font-size: 75%">Directed By Charles Ma</p>
        <div class="row">
          <div class="column" style="width:50%">
            <div class="w3-content w3-display-container slider" id="div1">
              <div class="w3-content w3-display-container slider" id="div1">
                <img class="mySlides" src="/assets/imgs/bhacks2018pic1.jpg" style="width:100%">
                <img class="mySlides" src="/assets/imgs/bhacks2019pic2.jpg" style="width:100%">
                <img class="mySlides" src="/assets/imgs/organizers_fall_2018.jpg" style="width:100%">

                <a class="w3-btn-floating w3-display-left" style="color: white"
                  onclick="plusDivs(this, -1)">&#10094;</a>
                <a class="w3-btn-floating w3-display-right" style="color: white"
                  onclick="plusDivs(this, 1)">&#10095;</a>
              </div>
            </div>
          </div>
          <div class="column" style="margin-top:10px; width: 50%; ">
            <p><i class="fas fa-user-circle"></i> <b>Attendees:</b> 575</p>
            <p> <i class="fas fa-dollar-sign"></i> <b>Sponsers:</b> Twilio, Google, Giphy, ITG, BU Spark, Liberty
              Mutual, Boston University Department of Computer Science, Raytheon, Bose, GitHub, Unity, IBM</p>
            <p> <i class="fas fa-award"></i> <b>Prizes:</b> Nintendo Switches, Amazon Echo Spots, Google Home Hub,
              Surface Go Tablets, Spark! Fellowship, 410C Dragonboard, Casio CA-506C-5A, Star Wars Millennium Falcon
              Waffle Makers</p>
            <p><i class="fas fa-archive"></i> <a href="https://bostonhacks-f2018.devpost.com/" style="color: black;">See
                the Projects on DevPost!</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="timeline-container left">
      <h3 class="year" style="margin-left: 575px;">Fall 2017</h3>
      <div class="content">
        <h2 style="text-align:center;">BostonHacks Three</h2>
        <p style="text-align:center; font-size: 75%">Directed By Lucus Watson</p>
        <div class="row">
          <div class="column" style="width:50%">
            <div class="w3-content w3-display-container slider" id="div2">
              <img class="mySlides" src="/assets/imgs/location_fall_2017.jpg" style="width:100%">
              <img class="mySlides" src="/assets/imgs/highlight_fall_2017.jpg" style="width:100%">
              <img class="mySlides" src="/assets/imgs/organizers_fall_2017.jpg" style="width:100%">

              <a class="w3-btn-floating w3-display-left" style="color: white" onclick="plusDivs(this, -1)">&#10094;</a>
              <a class="w3-btn-floating w3-display-right" style="color: white" onclick="plusDivs(this, 1)">&#10095;</a>
            </div>
          </div>
          <div class="column" style="margin-top:10px;width: 50%;">
            <p><i class="fas fa-user-circle"></i><b>Attendees</b> 485</p>
            <p> <i class="fas fa-dollar-sign"></i> <b>Sponsers:</b> Optum, Liberty Mutual, RedHat, Twilio, Weedmaps,
              Cadence, ITG, BU Spark, Boston University Department of Computer Science</p>
            <p> <i class="fas fa-award"></i> <b>Prizes:</b>Apple Airpods, Google Pixel Buds, Drones, Google Home Minis,
              Amazon Giftcards, Amazon Echos, Cash, MiP Robots, Spark Fellowship, Raspberry Pis, Dragonboards</p>
            <p><i class="fas fa-archive"></i> <a href="https://bostonhacks-f17.devpost.com/" style="color: black;">See
                the Projects on DevPost!</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="timeline-container right">
      <h3 class="year">Spring 2017</h3>
      <div class="content">
        <h2 style="text-align:center;">BostonHacks Two</h2>
        <p style="text-align:center; font-size: 75%">Directed By Andrew Hoang</p>
        <div class="row">
          <div class="column" style="width: 50%">
            <div class="w3-content w3-display-container slider" id="div3">
              <img class="mySlides" src="/assets/imgs/location_spring_2017.jpg" style="width:100%">
              <img class="mySlides" src="/assets/imgs/highlight_spring_2017.jpg" style="width:100%">
              <img class="mySlides" src="/assets/imgs/organizers_spring_2017.jpg" style="width:100%">


              <a class="w3-btn-floating w3-display-left" style="color: white" onclick="plusDivs(this, -1)">&#10094;</a>
              <a class="w3-btn-floating w3-display-right" style="color: white" onclick="plusDivs(this, 1)">&#10095;</a>
            </div>
          </div>
          <div class="column" style="margin-top:10px; width: 50%;">
            <p><i class="fas fa-user-circle"></i><b>Attendees: </b> 300 </p>
            <p> <i class="fas fa-dollar-sign"></i> <b>Sponsers:</b> Bloomberg, Button, Citi, IsraelTechChallenge, Libery
              Mutual, Recovery Centers of America, SAMHSA, Twilio </p>
            <p> <i class="fas fa-award"></i> <b>Prizes:</b>Netflix and Chill, Ostrich Pillows, Amazon Echos, Cash, Apple
              Watches, Laptops, AWS Credit, Amazon Echos, Echo Dots</p>
            <p><i class="fas fa-archive"></i> <a href="https://bostonhacks-s-2017.devpost.com/"
                style="color: black;">See the Projects on DevPost!</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="timeline-container left">
      <h3 class="year" style="margin-left: 575px;">Fall 2015</h3>

      <div class="content">
        <h2 style="text-align:center;">BostonHacks One </h2>
        <p style="text-align:center; font-size: 75%">Directed By Andrew Hoang</p>
        <div class="row">
          <div class="column" style="width: 50%">
            <div class="w3-content w3-display-container slider" id="div1">
              <div class="w3-content w3-display-container slider" id="div1">
                <img class="mySlides" src="/assets/imgs/highlight_fall_2015.jpg" style="width:100%">
                <img class="mySlides" src="/assets/imgs/location_fall_2015.png" style="width:100%">
                <img class="mySlides" src="/assets/imgs/organizers_fall_2015.jpg" style="width:100%">

                <a class="w3-btn-floating w3-display-left" style="color: white" onclick="plusDivs(this, -1)">&#10094;</a>
                <a class="w3-btn-floating w3-display-right" style="color: white" onclick="plusDivs(this, 1)">&#10095;</a>
  
              </div>
            </div>
          </div>
          <div class="column" style="margin-top:10px; width: 50%; margin-left: 0px;">
            <p><i class="fas fa-user-circle"></i> <b>Attendees:</b> ~350</p>
            <p> <i class="fas fa-dollar-sign"></i> <b>Sponsers:</b> Google, Liberty Mutual, Citibank, GE, AT&T, Epic
              Systems, AutoDesk, Wolfram, HP, Microsoft, Mitre, Hitachi Data Systems, Thiel Foundation, Bloomberg,
              Twilio, Kayak, CapitalOne</p>
            <p> <i class="fas fa-award"></i> <b>Prizes:</b> Trip to Disney, Dell Tablets, Hoverboards, 200 Chipotle
              Burritos, NewEgg.com Giftcards, Microsoft Surface Pro 3, Cash, Startup Grants + Mentorship, Drones, 1TB
              Hard Drives, Trip to Tech Conference</p>
            <p><i class="fas fa-archive"></i> <a href="https://bostonhacks-f2018.devpost.com/" style="color: black;">See
                the Projects on DevPost!</a></p>
          </div>
        </div>
      </div>
    </div>
    <script>
      var sliderObjects = [];
      createSliderObjects();

      function plusDivs(obj, n) {
        var parentDiv = $(obj).parent();
        var matchedDiv;
        $.each(sliderObjects, function (i, item) {
          if ($(parentDiv[0]).attr('id') == $(item).attr('id')) {
            matchedDiv = item;
            return false;
          }
        });
        matchedDiv.slideIndex = matchedDiv.slideIndex + n;
        showDivs(matchedDiv, matchedDiv.slideIndex);
      }

      function createSliderObjects() {
        var sliderDivs = $('.slider');
        $.each(sliderDivs, function (i, item) {
          var obj = {};
          obj.id = $(item).attr('id');
          obj.divContent = item;
          obj.slideIndex = 1;
          obj.slideContents = $(item).find('.mySlides');
          showDivs(obj, 1);
          sliderObjects.push(obj);
        });
      }

      function showDivs(divObject, n) {
        debugger;
        var i;
        if (n > divObject.slideContents.length) {
          divObject.slideIndex = 1
        }
        if (n < 1) {
          divObject.slideIndex = divObject.slideContents.length
        }
        for (i = 0; i < divObject.slideContents.length; i++) {
          divObject.slideContents[i].style.display = "none";
        }
        divObject.slideContents[divObject.slideIndex - 1].style.display = "block";
      }</script>
</body>

</html>
